* {
  font-family: "Poppins", sans-serif;
}

.main-container {
  width: 80%;
  margin: 20px auto;
}

.section-gap {
  margin-top: 50px;
}

.text-toggle-container {
  display: flex;
  justify-content: space-between;
}

.font-weight {
  font-weight: 500;
}

.text-toggle-container div h1 {
  font-size: 35px;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-text {
  font-size: 16px;
  color: rgb(171, 171, 171);
  font-weight: normal;
  transition: font-weight 0.2s, color 0.2s;
}

.toggle-text.active {
  font-weight: 600;
  color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(236, 17, 99);
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: rgb(236, 17, 99);
}

input:checked+.slider:before {
  transform: translateX(24px);
}

.how-to-apply {
  width: 100%;
  display: flex;
  border-radius: 15px;
}

.how-to-apply-text {
  width: 50%;
  height: 550px;
  background: linear-gradient(to right, rgb(152, 20, 77), rgb(92, 2, 41));
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 25px 55px;
  box-sizing: border-box;
}

.how-to-apply-text h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.list-text-container {
  display: flex;
  gap: 50px;
}

.dashed-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dashed-list li {
  width: 50px;
  height: 50px;
  background-color: white;
  color: rgb(173, 173, 173);
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  z-index: 1;
}

.dashed-list li::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 62px;
  background: transparent;
  border-left: 2px dashed white;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.dashed-list li:last-child::after {
  display: none;
}

.list-text {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.list-text div h2 {
  font-weight: 400;
  margin: 0;
}

.list-text div span {
  font-size: 15px;
}

.text-color {
  color: rgb(227, 202, 213);
}

.video-container {
  background-image: url('./assets/getyourcard-dummy.png');
  width: 50%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.video-overlay {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.video-overlay iframe {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.everything-digital-container {
  width: 100%;
  background-color: rgb(241, 245, 248);
  height: auto;
  display: flex;
  padding-left: 100px;
  padding-top: 70px;
  box-sizing: border-box;
  border-radius: 20px;
}

.digital-text {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.digital-text h1 {
  font-size: 25px;
  width: 80%;
  font-weight: 500;
}

.icon-text {
  display: flex;
  gap: 90px;
}

.icon-text span {
  width: 50px;
  height: 50px;
  background-color: rgb(236, 17, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.bank-icon {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.bank-icon span img {
  width: 25px;
  height: 20px;
  filter: invert(1);
}

.bank-icon div h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.bank-icon div p {
  margin: 0;
  margin-top: -8px;
  color: rgb(122, 123, 124);
}

.digital-text div button {
  background-color: rgb(152, 20, 77);
  color: white;
  padding: 15px 50px;
  font-weight: 600;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.progress {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 30px;
}

.kyc-1 {
  width: 40px;
  height: 40px;
  background-color: rgb(236, 17, 99);
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.color-line {
  width: 100px;
  height: 3px;
  background-color: rgb(236, 17, 99);
}

.kyc-2 {
  width: 40px;
  height: 40px;
  color: rgb(236, 17, 99);
  border: 3px solid rgb(236, 17, 99);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;
}

.grey-line {
  width: 100px;
  height: 3px;
  background-color: rgb(206, 205, 205);
}

.kyc-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 3px solid rgb(206, 205, 205);
  color: rgb(206, 205, 205);
  border-radius: 50%;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  width: 490px;
  color: rgb(133, 131, 131);
}

.credit-card-service {
  background-color: rgb(241, 245, 248);
  margin: 50px 0;
  width: 95%;
  padding: 50px 20px;
  gap: 15px;
}

.credit-card-service h1 {
  font-size: 35px;
  width: 100%;
  padding-left: -100px;
}

.center {
  text-align: center;
}

.services-cards {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 50px;
  box-shadow: 0px 5px 5px 0px rgb(226, 223, 223);
}

.card-margin {
  margin-left: 30px;
}

.card-color {
  background-color: rgb(236, 17, 99);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-color img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.card h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 1rem;
}

.card p {
  text-align: center;
  width: 310px;
  color: grey;
  font-size: 0.8rem;
}

.card:hover {
  box-shadow: 2px 5px 5px 4px rgb(223, 197, 206);
}

.card:hover h2 {
  color: rgb(236, 17, 99);
}

.card-for-u {
  width: 100%;
  height: 120px;
  background-color: rgb(152, 20, 77);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
}

.card-for-u div img {
  width: 60px;
  height: 60px;
}

.card-img-text {
  display: flex;
  color: white;
}

.card-img-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-img-text div h2 {
  margin: 0;
  font-weight: 400;
}

.card-img-text div p {
  margin: 0;
}

.explore-button button {
  color: rgb(152, 20, 77);
  background-color: rgb(249, 249, 249);
  font-weight: 600;
  font-size: 15PX;
  margin-right: 50px;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
}

.mastering-credit-card {
  display: flex;
  background-color: rgb(241, 245, 248);
  height: 620px;
  border-radius: 20px;
}

.mastering-credit-card img {
  width: 50%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.master-credit-card-text h1 {
  font-size: 2rem;
  width: 380px;
  margin-bottom: 10px;
}

.master-credit-card-text p {
  margin: 0;
  width: 450px;
  color: rgb(128, 128, 128);
  font-size: 1rem;
}

.mastering-cards-container {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 30px;
}

.master-card-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(236, 17, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.master-card-icon img {
  width: 25px;
  height: 25px;
  filter: invert(1);
}

.mastering-card h3 {
  margin-bottom: 10px;
  width: 220px;
  font-size: 1.1rem;
}

.mastering-card p {
  margin: 0;
  width: 200px;
  font-size: 0.9rem;
}

.unlearn-container h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.unlearn-container p {
  color: grey;
  text-align: center;
  margin: 0;
}

.unlearn-card-container {
  display: flex;
  max-width: 100%;
  gap: 30px;
  margin-top: 30px;
}

.unlearn-card {
  width: 30%;
}

.unlearn-card img {
  width: -webkit-fill-available;
}

.unlearn-card span {
  background-color: rgb(241, 245, 248);
  padding: 0 8px;
  border-radius: 5px;
  color: rgb(97, 97, 97);
  font-size: 0.8rem;
}

.unlearn-card h3 {
  font-weight: 600;
  margin-bottom: 10px;
  width: 330px;
  font-size: 1rem;
}

.unlearn-card p {
  text-align: left;
  font-size: 0.8rem;
  margin: 0;
}

.unlearn-button {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.unlearn-button button {
  background-color: rgb(152, 20, 77);
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
}

.hidden {
  display: none;
}

@media all and (max-width: 500px) {
  .main-container {
    width: 100%;
    margin-bottom: 0;
  }

  .text-toggle-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .text-toggle-container div h1 {
    font-size: 1.2rem;
  }

  .toggle-wrapper {
    gap: 15px;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    height: 15px;
    width: 15px;
  }

  .toggle-text {
    font-size: 11px;
  }

  .how-to-apply {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .how-to-apply-text {
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 20px;
    height: auto;
  }

  .text-color {
    font-size: 0.8rem;
  }

  .how-to-apply-text h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  .list-text-container {
    gap: 30px;
  }

  .list-text div h2 {
    font-size: 1.1rem
  }

  .list-text div span {
    font-size: 10px;
  }

  .dashed-list li {
    width: 40px;
    height: 40px;
    margin-bottom: 35px;
  }

  .dashed-list li:first-child {
    background-color: rgb(236, 17, 99);
    color: white;
  }

  .dashed-list li::after {
    height: 35px;
  }

  .list-text {
    gap: 25px;
  }

  .video-container {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    height: 400px;
    background-size: cover;
  }

  .everything-digital-container {
    flex-direction: column-reverse;
    padding: 20px;
    align-items: center;
  }

  .digital-text {
    padding: 10px;
  }

  .digital-text h1 {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  .icon-text span {
    width: 40px;
    height: 40px;
  }

  .bank-icon div h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }

  .icon-text {
    gap: 30px;
  }

  .bank-icon {
    gap: 20px;
  }

  .progress {
    padding-left: 10px;
  }

  .color-line {
    width: 50px;
  }

  .grey-line {
    width: 50px;
  }

  .progress-text {
    width: 100%;
    padding-left: 0;
  }

  .progress-text div {
    font-size: 15px;
  }

  .digital-text div {
    text-align: center;
  }

  .everything-digital-container img {
    width: fit-content;
    height: 400px;
  }

  .services-cards {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }

  .credit-card-service {
    margin-top: 0;
    margin-bottom: 0;
  }

  .credit-card-service h1 {
    margin: 0;
    font-size: 1.3rem;
  }

  .center p {
    font-size: 0.9rem;
    color: grey;
  }

  .card-margin {
    margin: 0;
  }

  .card {
    width: 100%;
  }

  .hidden {
    display: block;
    margin: 0;
  }

  .card-for-u {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    gap: 30px;
  }

  .card-img-text {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .card-img-text div {
    text-align: center;
  }

  .card-img-text div h2 {
    font-size: 1.5rem;
  }

  .card-img-text div p {
    font-size: 0.9rem;
  }

  .mastering-credit-card {
    flex-direction: column-reverse;
    height: auto;
  }

  .master-credit-card-text h1 {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .master-credit-card-text {
    text-align: center;
  }
  .master-credit-card-text p {
    font-size: 0.9rem;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
.mastering-cards-container{
  width: 100%;
  justify-content: center;
}
.mastering-card{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.mastering-card p{
  padding: o 50px;
}
.master-img > img{
  width: 100%;
  margin-top: 50px;
}


.unlearn-card-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.unlearn-card {
  width: 80%;
  scroll-snap-align: center;
  flex: none;
}

.unlearn-card img {
  width: 100%; 
}
.unlearn-card h3{
  width: 100%;
}
.explore-button button{
  margin-right: 0;
}
}